body {
    background-color: #f2f2f2;
    text-align: center;
  }

  .btn-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 20px;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

  