body {
  background-color: #f2f2f2;
  text-align: center;
}

h1 {
  margin-bottom: 50px;
  font-size: 40px;
}

form {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  padding: 20px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

#submit {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#submit:hover {
  background-color: #45a049;
}